<div class="field">
    <label class="label" for="title">Title</label>
    <div class="control">
        <input required value="<%= article.title %>" type="text" name="title" id="title" placeholder="Enter blog title..." class="input">
    </div>
</div>

<div class="field">
    <label class="label" for="description">Description</label>
    <div class="control">
        <input required value="<%= article.description %>" name="description" id="description" placeholder="Enter blog description..." class="input"> </input>
    </div>
</div>

<div class="field">
    <label class="label" for="markdown">Markdown</label>
    <div class="control">
        <input required value="<%= article.markdown %>" name="markdown" id="markdown" class="input" placeholder="Enter blog content..."></input>
    </div>
</div>

<div class="mt-4 pt-4">
    <button type="submit" class="button is-primary is-light">Save</button>
    <a href="/" class="button is-secondary is-light">Cancel</a>
</div>

