<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Blog</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Poppins&display=swap');

        body {
            font-family: Poppins, sans-serif;
            background: url(images/n-tho-duc-e4VMuIINdPs-unsplash.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        p {
            font-family: Merriweather, sans-serif;
            font-size-adjust: inherit;
        }

        .crudButtons {
            display:flex;
            justify-content:space-between;
            flex-wrap: wrap;
            margin-left: 4rem;
            margin-right: 4rem;
        }
        @media only screen and (max-width: 700px) {
            body {
                display:grid;
            }
        }





    </style>
</head>